<%- include('partials/header') %>

  <head>
    <link rel="stylesheet" href="/blog.css">
    <script src="/js/singleBlog.js"></script>
  </head>

  <div>



    <div class="container p-5">
      <div class="row">
        <% for(let i=Interview.length - 1 ; i>= 0 ; i--){ %>

          <div class="col-12 col-sm-8 col-md-6 col-lg-4">



            <div class="card">
              <img class="card-img"
                src="https://www.apollotechnical.com/wp-content/uploads/2020/07/killer-second-interview-questions.jpg"
                alt="Bologna">
              <div class="card">
                <a href="#" class="btn btn-light btn-sm">
                  <%= Interview[i].type %>
                </a>
              </div>


              <div class="card-body">
                <h4 class="card-title">
                  <%= Interview[i].title %>
                </h4>
                <p id="upvote" style="visibility: hidden; display: none;">
                  <%= Interview[i].upvote.length %>
                </p>


                <% if(Interview[i].content.length>25){%>
                  <% str1=Interview[i].content;%>
                    <% str1=str1.substring(0,100);%>
                      <p class="card-text padup">
                        <%= str1 %> . . .
                      </p>
                      <% } else{%>
                        <% str1=Interview[i].content; %>
                          <p class="card-text padup">
                            <%= str1 %>
                          </p>
                          <% }%>
                            <a href="/content/<%= Interview[i]._id %>" class="btn btn-info">Read More</a>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                <div class="views">
                  <%str2=Interview[i].date.toString().substring(0,25); %>
                    <%= str2 %>
                </div>
                <div class="stats">
                  <button class="fa-solid fa-heart" id="like" onclick="myFunction('<%= Interview[i]._id %>')">
                  </button>
                </div>

              </div>
            </div>
          </div>
          <% } %>
      </div>

    </div>
  </div>

  <script>
    window.addEventListener('scroll', function () {
      var header = document.querySelector('.header');
      header.classList.toggle("sticky", window.scrollY > 0);
    });
  </script>

  <%- include('partials/footer') %>
    </body>

    </html>